@import "variable";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-normal;
}
.error-input {
  color: orangered;
  font-size: 12px;
  font-weight: 300;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #5555;
  display: grid;
  place-items: center;
  display: none;
  &-content {
    width: 300px;
    height: 50vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      font-size: 60px;
      color: darkgreen;
      margin-bottom: 20px;
    }
  }
}

.login,
.register {
  width: 100%;
  height: 100vh;
  background: linear-gradient(30deg, orangered, rgba(0, 0, 255, 0.536));
  display: grid;
  place-items: center;
  .error-input {
    //display: none;
    visibility: hidden;
  }
  position: relative;

  &-title {
    text-align: center;
    color: #444;
  }
  &-form {
    background: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &-group {
      label {
        color: #444;
        display: block;
        margin-bottom: 5px;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 5px;
        outline: none;
        border-radius: 4px;
        border: 1px solid #5555;
        color: #444;
        caret-color: orangered;
      }
    }
    &-button {
      text-align: center;
      display: flex;
      justify-content: center;
      .btn-login,
      .btn-register {
        width: 80px;
        margin: 0 3px;
        padding: 5px 10px;
        border: 1px solid orangered;
        border-radius: 4px;
        background-color: orangered;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: orangered;
          background-color: #fff;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

header {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  background-color: #fff;

  a {
    text-decoration: none;
    color: #444;
  }
  li {
    list-style: none;
  }

  @include tablet {
    padding: 20px 40px;
  }
  @include mobile {
    padding: 20px 40px;
  }

  .header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-right: 30px;
      a {
        font-size: 32px;
        font-weight: 700;
        color: #000;
        position: relative;
        .circle {
          width: 25px;
          height: 25px;
          background-color: #444;
          position: absolute;
          top: 0;
          left: -10px;
          border: 5px solid orangered;
          border-radius: 50%;
          z-index: -1;
        }
      }
      i {
        display: none;
        font-size: 24px;
        /* RESPONSIVE */
        @include tablet {
          //tablet icin
          display: flex;
          z-index: 10;
          transition: all .5s;
          &:hover {
            color: orangered;
            cursor: pointer;
          transition: all .5s;

          }
        }
        @include mobile {
          display: flex;
          z-index: 10;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &-menu {
      //border: 1px solid;

      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      a {
        font-size: 18px;
        transition: all 0.3s;
        &:hover {
          color: orangered;
          transition: all 0.3s;
        }
      }
      .for-count {
        position: relative;
      }
      .count {
        font-size: 14px;
      }
      :nth-child(3) {
        display: flex;
        gap: 6px;
        align-items: center;
        .for-submenu {
          height: 100px;
          padding: 40px 0;
          color: orangered;
          &:hover .submenu {
            display: flex;
            transition: all 0.5s ease;
          }

          .submenu {
            display: none;
            justify-content: space-around;
            position: absolute;
            width: 80%;
            margin-top: 40px;
            padding: 50px;
            top: 60px;
            left: 10%;
            background-color: #5555;
            z-index: 2;
            transition: all 0.5s ease;
            ul {
              flex: 1;
              display: flex;
              flex-direction: column;
              &:nth-child(3) {
                align-items: start;
              }
              li {
                &:nth-child(1) {
                  font-weight: 500;
                  text-decoration: underline #444;
                }
              }
            }

            @include tablet {
              width: 100%;
              left: 0;
              gap: 30px;
            }
            @include mobile {
              width: 100%;
              left: 0;
              gap: 30px;
            }

            .submenu-advert {
              position: relative;
              img {
                border-radius: 4px;
              }
              &-wanted {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 1.2;
                font-size: 24px;
                button {
                  margin-top: 5px;
                  padding: 10px 20px;
                  border: 1px solid orangered;
                  border-radius: 4px;
                  background-color: #fff;
                  color: orangered;
                  text-transform: uppercase;
                  font-weight: 500;
                  cursor: pointer;
                  transition: all 0.5s;
                  &:hover {
                    color: #fff;
                    background-color: orangered;
                    transition: all 0.5s ease;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .count {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: orangered;
    border-radius: 20%;
    padding: 2px 4px;
    color: #ffff;
    @include tablet {
      padding: 0 2px;
    }
    @include mobile {
      padding: 0 2px;
    }
  }
  .header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    &-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(247, 218, 181);
      padding: 2px 20px;
      border-radius: 4px;
      font-size: 18px;
      :nth-child(1) {
        text-decoration: underline;
      }
      :nth-child(2) {
        font-weight: 500;
      }
    }
    &-favorite {
      position: relative;
      font-size: 14px;
      @include btn-hover;
    }
    &-cart {
      position: relative;
      font-size: 14px;
      @include btn-hover;
    }
    i {
      font-size: 24px;
    }
  }
}

.offcanvas {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 99px;
  left: -50%;
  padding: 0 0 20px 40px;
  height: auto;
  background-color: #4444;
  transition: all 0.5s;

  @include tablet {
    display: flex;
  }
  @include mobile{
    display: flex;
  }

  .header-left-menu {
    //border: 1px solid;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: start;
    a {
      font-size: 18px;
      transition: all 0.3s;
      &:hover {
        color: orangered;
        transition: all 0.3s;
      }
      i{
        color: rgb(172, 47, 2);
        padding-right:5px;
        font-size: 16px;
      }
    }
    .for-count {
      position: relative;
    }
    .count {
      position: absolute;
      font-size: 12px;
      top: 2px;
      right: -30px;
    }
    :nth-child(3) {
      display: flex;
      align-items: start;

      .for-submenu {
        height: 0 !important;
        padding: 0 !important;
        color: orangered;

        i {
          transform: rotate(-90deg);
          padding:0px 5px 5px 5px;
          font-weight: 700 !important;
        }
        &:hover .submenu {
          display: flex;
          transition: all 0.5s;
        }

        .submenu {
          display: none;
          width: auto;
          position: absolute;
          margin-top: 0;
          padding: 10px 40px;
          top: 0;
          left: 139px !important;
          background-color: #5555;
          z-index: 2;
          transition: all 0.5s;
          ul {
            flex: 1;
            display: flex;
            flex-direction: column;
            &:nth-child(3) {
              align-items: start;
              span{
                display: flex;
                transform: rotate(none) !important;
              }
            }
            li {
              padding: 5px;

              &:nth-child(1) {
                padding-bottom: 10px;
                font-weight: 500;
                text-decoration: underline #444;
              }
              
            }
              
          }
          .submenu-bnt{
            padding: 5px 10px;
            background-color: transparent;
            color: orangered;
            border-radius: 4px;
            border: 1px solid orangered;
            cursor: pointer;
            transition: all .5s;
            &:hover{
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
