@import "variable";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-normal;
}
.error-input {
  color: orangered;
  font-size: 12px;
  font-weight: 300;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #5555;
  display: grid;
  place-items: center;
  display: none;
  &-content {
    width: 300px;
    height: 50vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      font-size: 60px;
      color: darkgreen;
      margin-bottom: 20px;
    }
  }
}

.login,
.register {
  width: 100%;
  height: 100vh;
  background: linear-gradient(30deg, orangered, rgba(0, 0, 255, 0.536));
  display: grid;
  place-items: center;
  .error-input {
    //display: none;
    visibility: hidden;
  }
  position: relative;

  &-title {
    text-align: center;
    color: #444;
  }
  &-form {
    background: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &-group {
      label {
        color: #444;
        display: block;
        margin-bottom: 5px;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 5px;
        outline: none;
        border-radius: 4px;
        border: 1px solid #5555;
        color: #444;
        caret-color: orangered;
      }
    }
    &-button {
      text-align: center;
      display: flex;
      justify-content: center;
      .btn-login,
      .btn-register {
        width: 80px;
        margin: 0 3px;
        padding: 5px 10px;
        border: 1px solid orangered;
        border-radius: 4px;
        background-color: orangered;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: orangered;
          background-color: #fff;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

header {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }

  .header-left {
    border: 1px solid;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-right: 30px;
      a {
        font-size: 32px;
        font-weight: 700;
        color: #000;
      }
      i {
        display: none;
        font-size: 24px;
        /* RESPONSIVE */
        @include tablet {
          //tablet icin
          display: flex;
        }
        @include mobile {
          display: flex;
        }
       
      }
    }
    &-menu {
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      :nth-child(3) {
        display: flex;
      }
    }
  }
  .header-right {
    border: 1px solid;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
.submenu {
  display: none;
}
